<p id="notice"><%= notice %></p>

<p>
  <b>Flight:</b>
  <%= @seat.flight_id %>
</p>

<p>
  <b>Name:</b>
  <%= @seat.name %>
</p>

<p>
  <b>Baggage:</b>
  <%= @seat.baggage %>
</p>


<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
