<%= form_for(@client_workout) do |f| %>
  <% if @client_workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_workout.errors.count, "error") %> prohibited this client_workout from being saved:</h2>

      <ul>
      <% @client_workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_name %><br />
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :trainer %><br />
    <%= f.text_field :trainer %>
  </div>
  <div class="field">
    <%= f.label :duration_mins %><br />
    <%= f.number_field :duration_mins %>
  </div>
  <div class="field">
    <%= f.label :date_of_workout %><br />
    <%= f.date_select :date_of_workout %>
  </div>
  <div class="field">
    <%= f.label :paid_amount %><br />
    <%= f.text_field :paid_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
